.fade-up{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

.fade-up.show{
    opacity:1;
    transform:translateY(0);
}

#loader{
    position:fixed;
    inset:0;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:99999;
    transition:1s;
}

#loader.hide{
    opacity:0;
    visibility:hidden;
}

.loader-text{
    font-size:3rem;
    font-weight:bold;
    color:#00bfff;
    letter-spacing:4px;
}

.particle{
    position:absolute;
    width:3px;
    height:3px;
    background:white;
    border-radius:50%;
    top:100%;
    animation:float linear infinite;
}

@keyframes float{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(-120vh);
    }

}